body {
    background: lightblue;
    font-family: "roboto";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}




main {
    background: #FF6B6B;
    border-radius: 5px; 
    width: 375px;
    size: 120px;
}

.hello {
    color: #FFE66D;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
    font-family: "Roboto";
    padding-top: 15px;
    letter-spacing: 1.5;
    vertical-align: center;
}

.my-name-is {
    color: #FFE66D;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
}

.top {
    height: 120px;  
}

.middle {
    background: #F7FFF7;
    height: 115px;
    text-align: center;
    color: #4ECDC4;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 75px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.change {
    justify-content: center;
}
 
.bottom {
    height: 20px;
}

